---
import { Image } from "astro:assets";

import type { Link } from "../../types/Link";
import type { SlideData } from "../../types/SlideData";
import traxpetIcon from "../../assets/logoTraxpet.png";
import turingMindIcon from "../../assets/TuringMindIcon.png";

import Chip from "../Chip.astro";
import JavaIcon from "../icons/JavaIcon.astro";
import PythonIcon from "../icons/PythonIcon.astro";
import ExpoIcon from "../icons/ExpoIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";

import LargeCard from "../LargeCard.astro";

import proyectosJson from "../../data/proyectos.json";
import ApacheIcon from "../icons/ApacheIcon.astro";
import DockerIcon from "../icons/DockerIcon.astro";
import NextJsIcon from "../icons/NextJsIcon.astro";
import SupabaseIcon from "../icons/SupabaseIcon.astro";

interface Proyecto {
	title: string;
	description: string;
	iconImg: string;
	images: SlideData[];
	fecha: string;
	links: Link[];
}

const proyectos: Proyecto[] = proyectosJson;
---

<section class="my-8" id="proyectos">
	<h2 class="text-xl font-semibold">Proyectos</h2>

	<div class="flex flex-col gap-6 w-full mt-6">
		<LargeCard
			title={proyectos[0].title}
			description={proyectos[0].description}
			images={proyectos[0].images}
			fecha={proyectos[0].fecha}
			links={proyectos[0].links}>
			<Fragment slot="icon">
				<Image
					class="w-8 h-8"
					src={traxpetIcon}
					alt="Traxpet Icon"
					height="22"
					width="28"
				/>
			</Fragment>
			<Fragment slot="tecnologias">
				<Chip label="React Native">
					<ReactIcon width="22" height="22" />
				</Chip>
				<Chip label="Expo">
					<ExpoIcon width="20" height="20" />
				</Chip>
				<Chip label="Tailwind CSS">
					<TailwindIcon width="28" height="28" />
				</Chip>
				<Chip label="Python">
					<PythonIcon width="22" height="22" />
				</Chip>
				<Chip label="Java">
					<JavaIcon width="22" height="22" />
				</Chip>
				<Chip label="DerbySQL">
					<ApacheIcon width="22" height="22" />
				</Chip>
				<Chip label="Docker">
					<DockerIcon width="22" height="22" />
				</Chip>
			</Fragment>
		</LargeCard>
		<LargeCard
			title={proyectos[1].title}
			description={proyectos[1].description}
			images={proyectos[1].images}
			fecha={proyectos[1].fecha}
			links={proyectos[1].links}>
			<Fragment slot="icon">
				<Image
					class="w-8 h-8"
					src={turingMindIcon}
					alt="TuringMind Icon"
					height="22"
					width="32"
				/>
			</Fragment>
			<Fragment slot="tecnologias">
				<Chip label="React Native">
					<ReactIcon width="22" height="22" />
				</Chip>
				<Chip label="Expo">
					<ExpoIcon width="20" height="20" />
				</Chip>
			</Fragment>
		</LargeCard>
		<LargeCard
			title={proyectos[3].title}
			description={proyectos[3].description}
			images={proyectos[3].images}
			fecha={proyectos[3].fecha}
			links={proyectos[3].links}
			carouselSize={200}>
			<Fragment slot="icon">

			</Fragment>
			<Fragment slot="tecnologias">
				<Chip label="Next.js">
					<NextJsIcon width="22" height="22" />
				</Chip>
				<Chip label="Tailwind CSS">
					<TailwindIcon width="22" height="22" />
				</Chip>
				<Chip label="Supabase">
					<SupabaseIcon width="20" height="20" />
				</Chip>
			</Fragment>
		</LargeCard>
	</div>
</section>
