---
import Divider from "./Divider.astro";

import { Image } from "astro:assets";

import turingMind from "../assets/TuringMind.jpg";
import Chip from "./Chip.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import type { Link } from "../types/Link";
import GithubSquareIcon from "./icons/GithubSquareIcon.astro";
import CarouselReact from "./carousel/CarouselReact";
import type { SlideData } from "../types/SlideData";

interface Props {
	images: SlideData[];
	title: string;
	description: string;
	fecha: string;
	links: Link[];
}

/* const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/*.{jpeg,jpg,png,gif}"
); */
const { images, title, description, fecha, links } = Astro.props;

/*if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
	); */
---

<article
	class="flex sm:flex-row sm:min-h-48 bg-background border-1 border-primary rounded-lg transition items-center min-h-40">
	<div class="items-center rotate-180 p-2 [writing-mode:_vertical-lr]">
		<time
			datetime="2022-10-10"
			class="flex items-center justify-between text-xs font-bold uppercase text-primary">
			<span>{fecha}</span>
		</time>
	</div>

	<section class="flex flex-col md:justify-between md:flex-row w-full py-3">
		<div class="sm:basis-56 place-content-center place-items-center">
			<CarouselReact images={images} width={175} client:load/>
		</div>
		<div class="flex flex-1 flex-col w-full justify-between">
			<div class="border-s p-4 border-l-transparent sm:px-6">
				<h3 class="text-primary font-bold text-lg">
					{title}
				</h3>

				<p class="mt-2 text-sm/relaxed text-zinc-400">
					{description}
				</p>
			</div>

			<!-- <Divider /> -->
			<div
				class="w-full grid grid-cols-2 md:grid-cols-4 items-center px-8 mb-3 gap-3">
				<slot name="tecnologias" />
			</div>
			<!-- <Divider /> -->
			<div
				class="flex flex-col content-evenly sm:flex-row w-full items-center justify-center sm:justify-evenly sm:pt-4 sm:pl-8">
				{
					links.map((link) => {
						return (
							<a
								class="flex flex-row items-center h-10 px-2 hover:scale-105 transition-all gap-2"
								href={link.url}
								target="_blank">
								<i>
									<GithubIcon width="28" height="28" />
								</i>
								<span class="">{link.title}</span>
							</a>
						);
					})
				}
				<slot name="extraLinks" />
			</div>
		</div>
	</section>
</article>
