---
import GithubIcon from "./icons/GithubIcon.astro";
import type { Link } from "../types/Link";
import CarouselReact from "./carousel/CarouselReact";
import type { SlideData } from "../types/SlideData";

interface Props {
	images: SlideData[];
	title: string;
	description: string;
	fecha: string;
	links: Link[];
	carouselSize?: number;
}

const { images, title, description, fecha, links, carouselSize = 120 } = Astro.props;
---

<article
	class="flex sm:flex-row sm:min-h-48 bg-background border-1 border-primary rounded-lg transition items-center min-h-40">
	<div class="items-center rotate-180 p-2 [writing-mode:_vertical-lr]">
		<time
			datetime="2022-10-10"
			class="flex items-center justify-between text-xs font-bold uppercase text-primary">
			<span>{fecha}</span>
		</time>
	</div>

	<section class="flex flex-col md:justify-between md:flex-row w-full py-3">
		<div class="flex flex-col pl-3 py-2 justify-center items-center">
			<CarouselReact images={images} width={carouselSize} client:load />
		</div>
		<div class="flex flex-1 flex-col w-full justify-between">
			<div class="border-s p-4 border-l-transparent sm:px-6">
				<div class="flex flex-row items-center gap-3 pb-2">
					<slot name="icon">

					</slot>
					<h3 class="text-primary font-bold text-xl">
						{title}
					</h3>
				</div>

				<p class="mt-2 text-sm/relaxed text-zinc-100">
					{description}
				</p>
			</div>

			<!-- <Divider /> -->
			<div
				class="w-full grid grid-cols-2 md:grid-cols-4 justify-items-start items-center px-8 mb-3 gap-3">
				<slot name="tecnologias" />
			</div>
			<!-- <Divider /> -->
			<div
				class="flex flex-col content-evenly sm:flex-row w-full items-center justify-center sm:justify-evenly sm:pt-4 sm:pl-8">
				{
					links.map((link) => {
						return (
							<a
								class="flex flex-row items-center h-10 px-2 hover:scale-105 transition-all gap-2"
								href={link.url}
								target="_blank">
								<i>
									<GithubIcon width="28" height="28" />
								</i>
								<span class="">{link.title}</span>
							</a>
						);
					})
				}
				<slot name="extraLinks" />
			</div>
		</div>
	</section>
</article>
